<app-navbar></app-navbar>
<div class="container text-center my-5 py-5 px-2" style="background-color: rgb(204, 226, 240); border-radius: 20px;"> 
    <h1>BIENVENIDO A OTHER HOUSE</h1>
    <h4> Puede empezar buscando la vivienda que se acomode a sus necesidades </h4>
    <app-searchbar></app-searchbar>
</div>
<div class="container text-center mt-5">
    <h1 >¿Por qué usar Other House?</h1>
    <h3>Existen muchas razones, pero aquí le comentamos algunas de ellas.</h3>
    
    <div class="card mt-5" style="max-width: 1270px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/house-keys.jpg" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body text-center justify-content-center">
              <h3 class="card-title">Encuentra la casa que necesitas </h3>
              <hr>
              <h5 class="card-text">
                En Other House le ayudamos a encontrar esa casa que necesita por medio de nuestro buscador 
                de la forma más sencilla o también podemos ayudarle a encontrar a sus futuros inquilinos de 
                forma segura
              </h5>
              <button class="btn btn-outline-secondary mt-1" style="width: 100px; height: 50px;" > Unirse </button>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card mt-5" style="max-width: 1270px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/roomates.jpg" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body text-center justify-content-center">
                <h3 class="card-title"> Esté al día con sus inquilinos </h3>
                <hr>
                <h5 class="card-text">
                    En Other House le ofrecemos un gestor para que administre y esté al día 
                    con los diferentes inmuebles que ofrezca y sus servicios, los pagos que debe recibir y 
                    estar al día con sus inquilinos.
                </h5>
            </div>
        </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
