<app-navbar></app-navbar>
<div>
    <a class="block">
        <div class="col col-sm block">
                <img src="{{ casa.imagen }}" width=300 height=200 class="img-fluid rounded mx-auto d-block imagen_producto" alt="Sin Imágen">
        </div>
        <ul>
        <li>
            <table class="table">
            <tbody>
            <tr>
                <th scope="row">Dirección</th>
                <td>{{ casa.direccion}}</td>
            </tr>
            <tr>
                <th scope="row">Descripción</th>
                <td>{{ casa.descripcion }}</td>
            </tr>
            <tr>
                <th scope="row">Numero Baños</th>
                <td>{{ casa.num_banos }}</td>
            </tr>
            <tr>
                <th scope="row">Tamaño</th>
                <td>{{ casa.tamano }}</td>
            </tr>
            <tr>
                <th scope="row">precio</th>
                <td>{{ casa.preciobase }}</td>
            </tr>
            <tr>
                <th scope="row">Cantidad de personas</th>
                <td>{{ casa.cupo }}</td>
            </tr>
            <tr>
                <th scope="row">Servicios</th>
                <td>{{ casa.servicios_base }}</td>
            </tr>
            <tr>
                <th scope="row">Otros Servicios</th>
                <td>{{ casa.servicios_ad }}</td>
            </tr>
            <tr>
                <th scope="row">Mascotas</th>
                <td>{{ casa.petfriendly }}</td>
            </tr>
            </tbody>
            </table>
        </li>
        <li>
            <table class="table">
            <tbody>
            <tr>
                <th scope="row">Arrendador</th>
                <td>{{ usuario.nombre}}</td>
            </tr>
            <tr>
                <th scope="row">Telefono</th>
                <td>{{ usuario.tel }}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{ usuario.correo }}</td>
            </tr>
            
            </tbody>
            </table>
        </li>
        </ul>
    </a>
</div>
<app-footer></app-footer>